<% @title="Planetarium Schedule" %>

<% user = ENV['altru_user']%>
<% pass = ENV['altru_pass']%>
  <% require 'open-uri' #Wrapper to open web-based data with open() function %>

<% link = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=51cfe339-0e2d-4b32-b63d-db34b36e9b43"%>
<% odata = open(link, http_basic_authentication: [user, pass]).read %>
<% json = JSON.parse odata %>

  <% runningdate = "something" %>
  <% json["value"].each do |json|%>
    <div class="row">
    <div class="col-sm-3 col-xs-12">
    <% if json['ProgramEventsStartdate'] != runningdate %>
      <% date = DateTime.strptime(json['ProgramEventsStartdate'],"%Y-%m-%dT%H:%M:%S")%>
      <strong><%= date.strftime("%A %-m/%-d")%></strong>
      <% runningdate = json['ProgramEventsStartdate'] %>
    <%end%>
    </div>
    <div class="col-sm-3 col-xs-3">
      <% time = DateTime.strptime(json['ProgramEventsStarttime'],"%H%M")%>
      <%= time.strftime("%-I:%M")%>
    </div>
    <div class="col-sm-6 col-xs-9"><%= json['ProgramEventsName']%></div>
    </div>
  <%end%>
