<%require 'open-uri' #Wrapper to open web-based data with open() function %>
<%require 'nokogiri' #Library to parse the XML file we'll open%>

<%file = open('http://signs.adventuresci.org/data/groups.xml').read%>
<%file.gsub! '<d:', '<'%>
<%file.gsub! '<m:', '<'%>
<%xml = Nokogiri::XML(file)%>

<h1>Daily Group Totals</h1>

<%xml.css('entry').each do |node|%>
  <div class="row">
    <div class="col-sm-1 col-xs-2">
        <% time = DateTime.strptime(node.at('Arrivaltime').text,"%H%M")%>
        <%=time.strftime("%-I:%M")%>
    </div>
    <div class="col-sm-5 col-xs-10">
        <strong><%= node.at('Name').text.split(" - ").first%></strong>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-offset-2 col-xs-10">
        <em><%= node.at('SUMItinerariesAttendeesQuantity').text%> guests</em>
    </div>
  </div>
<%end%>