<% @title="Science Sleepovers" %>

<% user = ENV['altru_user']%>
<% pass = ENV['altru_pass']%>

<% link = "https://altrurig04bo3.blackbaudhosting.com/2532Altru_e4a2fe99-d6e1-46e7-a6c0-f6b932aa606d/ODataQuery.ashx?databasename=14AFCB42-1379-457A-AD0C-0CD6166E17F3&AdHocQueryID=e14af65e-2ae1-4b5c-a98d-da855c891989"%>
<% odata = open(link, http_basic_authentication: [user, pass]).read %>
<% json = JSON.parse odata %>

<% json["value"].each do |json|%>
  <% date = DateTime.strptime(json['Arrivaldate'],"%Y-%m-%dT%H:%M:%S")%>
  <% group = json['Name'] %>
  <div class="row">
    <div class="col-lg-1 col-md-2 col-xs-3">
      <p><%= date.strftime("%a %-m/%-d")%></p>
    </div>
    <div class="col-lg-5 col-md-4 col-xs-9">
      <p><strong><%= group.split(" - ").first %></strong><br/>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= json['SUMItinerariesAttendeesQuantity'] %> guests</p>
    </div>
    <div class="col-md-6 col-md-offset-0 col-xs-9 col-xs-offset-3">
      <p><em><%= json['ImportantNotes'] %></em></p>
    </div>
  </div>
<%end%>