<% @title="Science Sleepovers" %>

<%require 'open-uri' #Wrapper to open web-based data with open() function %>
<%require 'nokogiri' #Library to parse the XML file we'll open%>

<%file = open('http://signs.adventuresci.org/data/sleepovers.xml').read%>
<%file.gsub! '<d:', '<'%>
<%file.gsub! '<m:', '<'%>
<%xml = Nokogiri::XML(file)%>

<%xml.css('entry').each do |node|%>
  <% date = DateTime.strptime(node.at('Arrivaldate').text,"%Y-%m-%dT%H:%M:%S")%>
  <% group = node.at('Name').text %>
  <div class="row">
    <div class="col-lg-1 col-md-2 col-xs-3">
      <p><%= date.strftime("%a %-m/%-d")%></p>
    </div>
    <div class="col-lg-5 col-md-4 col-xs-9">
      <p><strong><%= group.split(" - ").first %></strong>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= node.at('SUMItinerariesAttendeesQuantity').text %> guests</p>
    </div>
    <div class="col-md-6 col-md-offset-0 col-xs-9 col-xs-offset-3">
      <p><em><%= node.at('ImportantNotes').text %></em></p>
    </div>
  </div>
<%end%>