<p>Thanks for adding your staff.adventuresci.org account. Click the link below to confirm your account and you'll be all set.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
